/* here you can put your own css to customize and override the theme */
.title-wrapper {
    background: url(../../pages/img/title-bg/man.jpg) no-repeat 100% 100% !important;
}
.carousel-inner{
    border-radius: 5px !important;
    margin: 10px;
}
.carousel-slider .item {
    width: 100%;
    height: 100%;
    min-height: 455px !important;
}
.product-offer {
    position: relative;
    overflow: hidden;
}

.product-offer img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.product-offer:hover img {
    transform: scale(1.2) rotate(5deg);
}

.product-offer .offer-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(61, 70, 77, 0.5);
    z-index: 1;
}
.mb-30 {
    margin-bottom: 30px;
}
.h1, h2, h3 {
    font-weight: 700 !important;
}
.text-white {
    color: #fff !important;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.pt-5, .py-5 {
    padding-top: 3rem !important;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}
.align-items-center {
    align-items: center !important;
}
.featured{
    background-color: #f1f1f1;
}
.align-items-center {
    align-items: center !important;
}
.bg-light {
    background-color: #FFFFFF !important;
}
.section-title::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 50%;
    left: 0;
    border-top: 1px dashed #bec5cb;
    z-index: -1;
}
.ecommerce .header-navigation {
    font: 12px "PT Sans Narrow", sans-serif;
    letter-spacing: 1px;
}
.header-navigation .search-box {

    width: 450px !important;
}
.pre-header {
    color: #2b2b2b;
    border-bottom: 1px solid #eee;
    padding-top: 10px;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700 !important;
    background: #E02222 !important;
}
.pre-header a:hover {
    color: #ffffff !important;
}
.pre-header a {
    color: #ffffff !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-around {
    justify-content: space-around !important;
}

.align-items-start {
    align-items: flex-start !important;
}

.align-items-end {
    align-items: flex-end !important;
}

.align-items-center {
    align-items: center !important;
}
.text-left {
    text-align: left !important;
}


.pl-xl-3,
.px-xl-3 {
    padding-left: 1rem !important;
}
.p-xl-4 {
    padding: 1.5rem !important;
}
.pt-xl-4,
.py-xl-4 {
    padding-top: 1.5rem !important;
}
.pr-xl-4,
.px-xl-4 {
    padding-right: 1.5rem !important;
}
.pb-xl-4,
.py-xl-4 {
    padding-bottom: 1.5rem !important;
}
.pl-xl-4,
.px-xl-4 {
    padding-left: 1.5rem !important;
}
.p-xl-5 {
    padding: 3rem !important;
}
.pt-xl-5,
.py-xl-5 {
    padding-top: 3rem !important;
}
.pr-xl-5,
.px-xl-5 {
    padding-right: 3rem !important;
}
.pb-xl-5,
.py-xl-5 {
    padding-bottom: 3rem !important;
}
.pl-xl-5,
.px-xl-5 {
    padding-left: 3rem !important;
}
.pt-3,
.py-3 {
    padding-top: 1rem !important;
}

.bg-dark {
    background-color: #3D464D !important;
}
