<div class="single-widget category">
    <h3 class="title">Categories</h3>
    <ul class="categor-list">
        {% for category in categories %}
        <li><a href="{{ path('product_shop', {t: category.slug}) }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
</div>
