.sidebar .title {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 30px;
    display: block;
    background: #fff;
    padding-left: 12px;
}
.sidebar .single-widget .title::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    height: 100%;
    width: 3px;
    background: #F7941D;
}
